#quote{
    text-align: center;
}

#relax_box{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card_banner{
    margin-bottom: 1rem;
}

.card_button{
    float: right;
    padding: 8px;
    border-radius: 25px;
}